<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
    <STRONG><p class="center"><%= t ".hello" %></p></STRONG>
  <h2>
    <%= t ".thisis" %>
    <a href="http://www.railstutorial.org/"><%= t ".logo" %></a>
    <%= t ".project" %>
  </h2>
  <%= link_to t(".signin"), signin_path, class: "btn btn-lg btn-primary" %>
</div>
