<%= provide :title, t("session.sign_in.title") %>
<div class="content">
  <div class="header">
    <div>
      <span><%= t ".logo" %></span>
      <%= t ".logo1" %>
    </div>
  </div>
  <br>
  <div class="col-md-6">
    <%= form_for :session, url: signin_path do |f| %>
      <%= f.text_field :username, placeholder: t(".username") %>
      <%= f.password_field :password, placeholder: t(".password") %>
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        <span><%= t ".remember_me" %></span>
      <% end %>
      <%= f.submit t(".title"), class: "btn btn-info pull-right" %>
    <% end %>
  </div>
</div>
