<div class="content">
  <section class="content-header">
    <h1>
      <%= t "views.subjects.sub" %>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>
        <%= t ".home" %>
      </a></li>
      <li><a href="#"><%= t ".course" %></a></li>
      <li class="active"><%= t ".subject" %></li>
    </ol>
  </section>

  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <h2>
          <%= t "views.subjects.name" %><small><%= t "views.subjects.time" %></small>
        </h2>
      </div>
      <div class="box-body">
        <%= t "views.subjects.detail" %>
      </div>
      <div class="box-footer">
        <%= link_to t("views.subjects.link"), tasks_path %>
      </div>
    </div>
  </section>
</div>
