<div class="content">
  <section class="content-header">
    <h1>
      <%= t "views.courses.course" %>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#">
        <i class="fa fa-dashboard"></i> <%= t ".home" %>
      </a></li>
      <li><a href="#"><%= t ".course" %></a></li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h4><strong><%= t "views.courses.ma" %></strong></h4>
            <h4><%= t "views.courses.name" %></h4>
            <h6><strong><%= t "views.courses.detail" %></strong></h6><br/><br/>
            <p>
              <%= t "views.index.home.trainers.name" %><%= t "views.courses.numtrainers" %>
            </p>
            <p>
              <%= t "views.index.home.trainee.name" %><%= t "views.courses.numtrainee" %>
            </p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <%= link_to t("views.index.home.more_info"),
            subjects_path, class: "small-box-footer" %>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h4><strong><%= t "views.courses.ma" %></strong></h4>
            <h4><%= t "views.courses.name" %></h4>
            <h6><strong><%= t "views.courses.detail" %></strong></h6><br/><br/>
            <p>
              <%= t "views.index.home.trainers.name" %><%= t "views.courses.numtrainers" %>
            </p>
            <p>
              <%= t "views.index.home.trainee.name" %><%= t "views.courses.numtrainee" %>
            </p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <%= link_to t("views.index.home.more_info"),
            subjects_path, class: "small-box-footer" %>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
          <div class="inner">
            <h4><strong><%= t "views.courses.ma" %></strong></h4>
            <h4><%= t "views.courses.name" %></h4>
            <h6><strong><%= t "views.courses.detail" %></strong></h6><br/><br/>
            <p>
              <%= t "views.index.home.trainers.name" %><%= t "views.courses.numtrainers" %>
            </p>
            <p>
              <%= t "views.index.home.trainee.name" %><%= t "views.courses.numtrainee" %>
            </p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <%= link_to t("views.index.home.more_info"),
            subjects_path, class: "small-box-footer" %>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h4><strong><%= t "views.courses.ma" %></strong></h4>
            <h4><%= t "views.courses.name" %></h4>
            <h6><strong><%= t "views.courses.detail" %></strong></h6><br/><br/>
            <p>
              <%= t "views.index.home.trainers.name" %><%= t "views.courses.numtrainers" %>
            </p>
            <p>
              <%= t "views.index.home.trainee.name" %><%= t "views.courses.numtrainee" %>
            </p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <%= link_to t("views.index.home.more_info"),
            subjects_path, class: "small-box-footer" %>
        </div>
      </div>
    </div>
  </section>
</div>
