<% provide :title, t(".title") %>
<div class="row">
  <h1><%= @course.name_course %></h1>
  <h2><%= t(".desc") %><%= @course.info_detail %></h2>
  <h2><%= t(".created") %><%= @course.created_at %></h2>
  <table>
    <thead>
      <th><%= t ".subjects" %></th>
      <th><%= t ".trainers" %></th>
      <th><%= t ".trainees" %></th>
    </thead>
    <td>
      <ul class="ls-sub">
        <%= render @subjects %>
        <%= will_paginate @subjects %>
      </ul>
    </td>
    <td>
      <ul class="ls-sub">
        <%= render @trainers %>
        <%= will_paginate @trainers %>
      </ul>
    </td>
    <td>
      <ul class="ls-sub">
        <%= render @trainees %>
        <%= will_paginate @trainees %>
      </ul>
    </td>
  </table>
</div>
