<header class="main-header">
  <%= link_to t(".title"), user_path(current_user), class: "logo" %>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only"></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag @user.avatar, size: Settings.size.user_image %>
            <span class="hidden-xs"><%= t "layouts.header.account" %><b class="caret"></b></span>
          </a>
          <% if logged_in? %>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <%= image_tag @user.avatar, size: Settings.size.user_image %>
                <p>
                  <%= @user.fullname %>
                  <small><%= t "layouts.header.calender" %></small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#"><%= t "layouts.header.followers" %></a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#"><%= t "layouts.header.friends" %></a>
                  </div>
                </div>
                <!-- /.row -->
              </li>

              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">

                  <%= link_to  user_path(current_user), class: "btn btn-default btn-flat" do %>
                      <%= t "layouts.header.profile" %>
                  <% end%>
                </div>
                <div class="pull-right">
                  <li><%= link_to t(".edit"), edit_user_path(current_user)%></li>
                  <li><%= link_to t(".signup"), signup_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t(".signout"), signout_path, method: :delete %></li>
                </div>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(".resignin"), signin_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
